# Terraform variables
# See 'variables.tf' for definitions

# Required
resource-group       = "homelab"
ip-whitelist         = ["116.49.0.0/16","116.48.0.0/16" "8.8.8.0/24"]

# Optional (defaults are shown)
timezone             = "China Standard Time"
domain-name-label    = "thehackerish"
domain-dns-name      = "th.local"
windows-user         = "joceky"
linux-user           = "jockey"
hackbox-hostname     = "hackbox"
dc-hostname          = "dc"
winserv2019-hostname = "winserv2019"
win10-hostname       = "win10"
win10-size           = "Standard_B4ms"
winserv2019-size     = "Standard_B1ms"
dc-size              = "Standard_B2ms"
hackbox-size         = "Standard_B1ms"
